
body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 200px 0 0 0;
    width: 90%;
    background-color: #6666ff;

}
.header {
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 30px;
  top: 450px;
  /*border: 3px solid green;*/
}


.row {
  text-align: center;

}

.card {
display: inline-block;
width: 100px;
height: 100px;
background-color: gray;
cursor: pointer;
}

.card.done {
  cursor: default;
}

.card.done:hover {
  cursor: default;
  box-shadow: none;
}


.card:hover {
box-shadow: inset 0px 0px 0px 3px red;
box-sizing: border-box;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.cyan {
  background-color: cyan;
}

.yellow{
  background-color: yellow;
}

.pink{
  background-color: pink;
}

.teal {
  background-color: teal;
}

.grey {
  background-color: grey;
}

.color-hidden {
    background-color: #eee;
}
