.stopwatch {
  width: 300px;
  background-color: #0af;
  border-radius: 5px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.75), 0 0 1px rgba(0, 0, 0, 0.15);
  padding: 15px;



  .controls {
  

    button {



      }
